body {
    box-sizing:border-box;
}
.addbtn {
    margin-top: 5px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

.SelectDeleteBtn {
    padding-left:5px;
    padding-right:5px;
}

.editbtn{
    padding-left:3px;
    padding-right:3px;
}

.contactName {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}


.itempdg {
    border-bottom:solid;
    border-bottom-width:1px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left:2px;
    padding-right:2px;
}
.leftpdg {
    padding-left: 5px;
}

.bottombdr{
    border-bottom-style:solid;
    border-bottom-width:3px;
    margin-right:1px;
    border-bottom-color:black;
}

.cntbtn {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
}
.linemrgn{
    margin-top: 2px;
    margin-bottom: 2px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.Column {
    float: left;
    height:100%;
    position:fixed;
    z-index:1;
    top:0;
    overflow-x:hidden;
    padding-top:20px;
}
.left {
    left:0;
    width: 40%;
    background-color: #fffcef;
    border-right-style: solid;
    border-right-width:1px;
    padding-left:20px;
}
.right {
    background-color: #fffef8;
    width: 57%;
    right:0;
    padding-left:20px;
}

.leftInt{
    width:50%;
    left:0;
    padding-left:20px;
}
.rightInt{
    width:50%;
    right:0;
    background-color:white;
    padding-left:20px;
    padding-top:30px;
}

.alignRightLbl{
    margin-left:60px;
    margin-right:0px;
}

@media screen and (max-width:600px){
   .leftColumn,.rightColumn{
       width:100%;
       height:100%;
   }   
   .leftIntColumn, .rightIntColumn{
       width:100%;
       height:100%;
   }
}
